---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --ignore=E731,E501,W605,T201,UP007
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py39
        files: ^scripts/.*\.py$
      - id: ruff-format
        files: ^scripts/.*\.py$
    rev: v0.8.0

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: ^scripts/.*\.py$
        additional_dependencies:
          - pydantic>=2.0.0
        args:
          - --strict

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
    - id: markdownlint
      exclude: ^modules/